body {
    font-family: 'Montserrat';
}

.navbar {
    background-color: #171717;
}

.nav-item {
    margin-right: 24px;
    font-weight: 200;
}

.nav-item.active a,
.nav-link span {
    color: #F9B234 !important;
    font-weight: 600;
}


.carousel {
    height: 450px;
    background-color: #171717;
    color: white;
}

.carousel h1 {
    font-family: 'Lora';
    font-weight: 700;
}

.carousel p {
    font-weight: 200;
}

.carousel .btn {
    font-weight: 600;
}

.features h3,
.designer h3,
.similar-product h3,
.title h3,
.category h3 {
    font-family: 'Lora';
    font-weight: 700;
    color: #1A258D;
}

.features p,
.designer p,
.similar-product p,
.title p,
.modal p,
.category p {
    font-weight: 200;
}

figcaption h5 {
    color: #171717;
}

.figure-img {
    position: relative;
}

.figure-img:hover a {
    opacity: 1;
}

.figure-img a {
    position: absolute;
    top: 0;
    bottom: 8px;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s;
}

footer {
    background-color: #F9B234;
}

.footer-social {
    margin-right: 10px;

}

footer .nav a {
    color: black !important;
}

footer p {
    font-weight: 200;
}

.breadcrumb-single {
    margin-top: 100px;
}

.product-container {
    padding: 8px 8px;
    background-color: white;
    box-shadow: 0 4px 1px rgba(0, 0, 0, 0.3);
    width: 360px;
    transform: translateY(-50px);
}

.product .btn-info,
.quantity .card,
.quantity .btn-info {
    background-color: #1ABC9C !important;
}

.product h3,
.modal h3 {
    font-weight: 600;
}

.product a.btn-warning,
.quantity .btn-warning,
.modal .btn-warning {
    color: white;
    background-color: #F9B234 !important;
    font-weight: 600;
}

.product a.btn-light,
.quantity .btn-light {
    background-color: #CDCDD1 !important;
    font-weight: 200;
}

.product-cart {
    margin: 30px 0;
    border-bottom: 2px solid #CDCDD1;
}

.product-designer {
    font-weight: 200;
}

.product-designer h6 {
    font-size: 16px;
}

.product-designer .col h5 {
    font-weight: 600;
    font-size: 16px;
}

.product-designer .col p {
    font-size: 14px;
}

.description .nav a {
    font-weight: 600;
}

.description .nav-item span {
    color: #1ABC9C !important;
}

.description .tab-content {
    font-weight: 200;
    height: 160px;
}

.description .tab-pane p.text-justify {
    line-height: 28px;
}

.review h5 {
    font-size: 16px;
    font-weight: 600;
}

.review p {
    font-weight: 200;
    font-size: 14px;
}

.similar-product figure p {
    font-weight: 200;
    font-size: 16px;
}

.similar-product figure h6 {
    font-weight: 600;
    color: #171717;
    font-size: 16px;
}

.quantity p {
    font-weight: 200;
}

hr {
    height: 1px;
    color: white;
    background-color: white;
    border: none;
}

.category {
    margin-top: 100px;
}

.category .btn-info {
    color: white;
    background-color: #1ABC9C !important;
    font-weight: 600;
}